<p>Bonjour Wasef Alexandra, </p>
<p>Nous vous avons contcaté via le formulaire de votre site. </p>
<p>Par : {{nom}} {{prenom}} de l'entreprise {{entreprise}}</p>
<p>{{message}}</p>

<p>---------------------------------------</p>
<p>Mail envoyé via le site wasef.alwaysdata.net</p>